.report-item {
  margin-bottom: 40px;
}

.report-form {
  width: 50%;
  max-width: 80vw;
  margin: 0 auto;
}

.report-title {
  font-size: 28px;
  margin-bottom: 30px;
  text-align: center;
}

.reports-detail {
  width: 100%;
  margin: 0 auto;
}

.report-message {
  padding: 40px 0;
}

.reported {
  margin: 20px auto;
  width: 50vw;
}

.report-thanks {
  text-align: center;
  padding: 40px 0;
}