.purchase-btn {
  width: 120px;
  background: #3ccace;
  text-align: center;
  border-radius: 4%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, .5);
}

.category-list {
  padding: 15px;
}

.new-btn :hover {
  background: lightpink;
}

.purchase-btn-text {
  color: #fff;
  display: block;
  font-size: 18px;
  text-decoration: none;
  margin-bottom: 5px;
}

.purchase-btn-icon {
  width: 60%;
}
