/* 商品の概要 */

.item-show {
  background-color: #f8f8f8;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 0;
}

.item-box {
  background-color: #FFF;
  width: 70vw;
  min-width: 1200px;
  padding: 10vh 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-box>.name {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}

.item-box-img {
  height: 50vh;
  width: 60vw;
  min-height: 500px;
  background-color: rgb(205, 202, 202);
  object-fit: contain;
}

.item-price-box {
  margin: 25px 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.item-price-box>.item-price {
  font-size: 4vh;
  font-weight: bold;
}

.item-price-box>.item-postage {
  font-size: 16px;
}


.item-red-btn {
  text-align: center;
  background-color: #ea352d;
  font-size: 24px;
  font-weight: bold;
  color: #FFF;
  margin: 20px 0px;
  padding: 2vh 10vw;
  box-shadow: 4px 4px 10px gray;
}


.red-btn :hover {
  text-align: center;
  background-color: lightpink;
  font-size: 24px;
  font-weight: bold;
  color: #FFF;
  margin: 20px 0px;
  padding: 2vh 10vw;
  text-decoration: none;
}

.or-text {
  font-size: 20px;
  margin: 10px 0;
}

.item-destroy {
  background-color: lightgray;
  text-align: center;
  font-size: 24px;
  color: black;
  margin: 20px 0px;
  padding: 2vh 10vw;
  box-shadow: 4px 4px 10px gray;
}

.delete-btn :hover {
  background-color: #eeeeee;
  text-align: center;
  font-size: 24px;
  color: black;
  margin: 20px 0px;
  padding: 2vh 10vw;
  text-decoration: none;
}

.item-explain-box {
  font-size: 18px;
  margin: 40px 0px;
}

.detail-table {
  margin-bottom: 30px;
  width: 100%;
  box-shadow: 4px 4px 10px gray;
}

.detail-item {
  width: 20%;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 14px;
  text-align: center;
}

.detail-value {
  width: 80%;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 14px;
}

.option {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.favorite-btn {
  border-radius: 40px;
  width: 15vw;
  min-width: 200px;
  color: rgb(249, 75, 0);
  border: 2px solid #ffb340;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.favorite-star-icon {
  margin-right: 5px;
}

.report-btn {
  border-radius: 40px;
  width: 15vw;
  min-width: 200px;

  padding: 1vh 0;
  color: black;
  border: 2px solid #2d2d2d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.report-flag-icon {
  margin-right: 5px;
}

.arrow-box {
	position: relative;
	background: #ffffff;
  border: 1px solid #dedede;
  width: 100%;
  min-height: 200px;
  margin: 40px 0;
  padding: 10px 20px;
  justify-content: space-between;
  box-shadow: 4px 4px 10px gray;
}

.explain-title {
  font-size: 20px;
}

.item-explain {
  margin: 10px;
  padding: 20px 0 50px 0;
}

.item-listing-date {
  position: absolute;
  bottom: 10px;
  right: 10px;
}


/* /商品の概要 */

.comment-title{
  font-size: 24px;
}

.comment-box {
  width: 40vw;
  margin: 5vh 0;
  text-align: center;
}

.comment-top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.comment-nickname {
  font-weight: bold;
  color: black;
}

.comment-date {
  color: gray;
}

.comment-bottom {
  text-align: left;
  color: black;
}

.comment-balloon-right {
  position: relative;
  display: inline-block;
  margin: 10px 0 10px 20px;
  padding: 7px 10px;
  width: 100%;
  color: #555;
  font-size: 16px;
  background: #d8f6ce;
  border-radius: 15px;
  box-shadow: 0px 2px 4px gray;
}

.comment-balloon-right:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -15px;
  border: 15px solid transparent;
  border-left: 15px solid #d8f6ce;
}

.comment-balloon-left {
  position: relative;
  display: inline-block;
  margin: 10px 20px 10px -20px;
  padding: 7px 10px;
  width: 100%;
  color: #555;
  font-size: 16px;
  background: #f8e0ec;
  border-radius: 15px;
  box-shadow: 0px 2px 4px gray;
}

.comment-balloon-left:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -30px;
  margin-top: -15px;
  border: 15px solid transparent;
  border-right: 15px solid #f8e0ec;
}

.comment-text {
  width: 100%;
  height: 100px;
  padding: 10px;
  border: solid 5px #dedede;
  resize: none;
  margin-top: 40px;
}

.comment-warn {
  padding: 10px;
  font-size: 14px;
  margin: 10px 0px;
  text-align: left;
}

.comment-btn {
  line-height: 48px;
  background-color: #3CCACE;
  border: 1px solid #3CCACE;
  color: #fff;
  width: 50%;
  min-width: 150px;
  font-size: 18px;
  border-radius: 100px;
  margin-bottom: 2vh;
  cursor: pointer;
  box-shadow: 4px 4px 10px gray;
}

.comment-btn :hover {
  background-color: red;
}

.comment-flag {
  display: flex;
  justify-content: center;
}

.comment-flag-icon {
  margin: 10px 5px 0 0;
}

.comment-login {
  font-size: 20px;
  margin: 40px 0;
}

.links {
  display: flex;
  justify-content: space-around;
  width: 50vw;
}

.change-item-btn {
  font-size: 30px;
  text-decoration: none;
  color: #3CCACE;
}

.another-item {
  display: block;
  margin: 30px 0px 8px;
  color: #3CCACE;
  text-decoration: none;
  font-weight: bold;
  font-size: 23px;
}