.user-information-title {
  font-size: 28px;
  text-align: center;
  margin-top: 40px;
}

.user-information {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px 0 50px 0;
}

.user-table {
  margin-bottom: 30px;
  width: 50vw;
  box-shadow: 4px 4px 10px gray;
}

.user-item {
  width: 20%;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 14px;
  text-align: center;
}

.user-value {
  width: 80%;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 14px;
}